 @media (min-width: 820px) and (max-width: 1460px) {
   .container {
     z-index: 10;
     background-color: transparent;
     display: flex;
     justify-content: flex-end;
     /* Alinea el contenido a la derecha */
     align-items: flex-start;
     padding: 10px 20px;
     position: absolute;
     /* Cambia a position: absolute */
     top: 0;
     /* Coloca el contenedor en la parte superior */
     right: 0;
     margin-bottom: 2em;
   }

   .navButtons {
     display: flex;
     justify-content: flex-end;
     align-items: center;
   }

   .navLink {
     text-decoration: none;
     outline: none;
     color: #FFFF2E;
     margin: 0 20px;
     padding: 10px 25px;
     border-radius: 23px;
   }



   .navLink:nth-child(1) {
     border: 5px solid #C09C03;

   }

   .navLink:nth-child(2) {
     border: 5px solid #4294FE;
   }

   .navLink:nth-child(3) {
     border: 5px solid #21B202;
   }

   .navLink:nth-child(4) {
     border: 5px solid #E25106;
   }

 }

 @media (max-width: 820px) {

   /* Mostrar el menú hamburguesa y ocultar la barra de navegación en pantallas más pequeñas */
   .container {
     display: none;
     width: 100%;
 
   }

   .hamburger-menu {
     display: flex;
     flex-direction: column;
     background-color: transparent;
     justify-content: flex-end;
     align-items: flex-end;
     text-align: left;
     position: absolute;
    margin-top: 1.2em;
     right: 1em;
     z-index: 113;
   }

   .menu-open {
     display: grid;
     background-color: rgba(0, 0, 0, 0.616);
     position: absolute;
     z-index: 112;
   }

   .navButtons {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     margin-top: 4em;
     position: relative;
 

   }

   .navLink {
     text-decoration: none;
     outline: none;
     color: #FFFF2E;
     font-size: 1.4em;
     padding: 1em 1.4em;
     border-radius: 23px;
    margin: 0.4em;
   }



   .navLink:nth-child(1) {
     border: 5px solid #C09C03;

   }

   .navLink:nth-child(2) {
     border: 5px solid #4294FE;
   }

   .navLink:nth-child(3) {
     border: 5px solid #21B202;
   }

   .navLink:nth-child(4) {
     border: 5px solid #E25106;
   }


   .hamburger-icon {
     cursor: pointer;
     padding: 15px;
     position: absolute;
     right: 0;
     top: 0;
   }


   .bar {
     width: 25px;
     height: 3px;
     background-color: #FFFF2E;
     margin: 4px 0;
   }
 }

 @media (min-width:1460px) {
  .container {
    z-index: 10;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
   
  }

  .navButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navLink {
    text-decoration: none;
    outline: none;
    color: #FFFF2E;
    margin: 10px 20px;
    padding: 15px 35px;
    border-radius: 25px;
    font-size: 23px;
  }



  .navLink:nth-child(1) {
    border: 5px solid #C09C03;

  }

  .navLink:nth-child(2) {
    border: 5px solid #4294FE;
  }

  .navLink:nth-child(3) {
    border: 5px solid #21B202;
  }

  .navLink:nth-child(4) {
    border: 5px solid #E25106;
  }

 }